* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

.no-scroll {
  overflow: hidden;
}

/* Colors *****************************************/
:root {
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

/* Typography *************************************/
.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

/* GNB ********************************************/
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  padding: 0 16px;

  background-color: var(--primary-color);
}

.gnb__title {
  color: #fcfcfd;
}

.gnb__button {
  height: 40px;

  border: none;
  border-radius: 8px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* 음식점 목록 *****************************************/

/* 카테고리/정렬 필터 */
.restaurant-filter-container {
  display: flex;
  justify-content: space-between;

  padding: 0 16px;
  margin-top: 24px;
}

.restaurant-filter-container select {
  height: 44px;
  min-width: 125px;

  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background: transparent;

  font-size: 16px;
}

.restaurant-filter {
  padding: 8px;
}

/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  margin: 16px 0;
}

.restaurant {
  display: flex;
  align-items: flex-start;

  padding: 16px 8px;

  border-bottom: 1px solid #e9eaed;
}

.restaurant__category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;

  margin-right: 16px;

  border-radius: 50%;
  background: var(--lighten-color);
}

.category-icon {
  width: 36px;
  height: 36px;
}

.list-info-wrapper {
  display: flex;
}

.restaurant__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 70%;
}

.restaurant__name {
  margin: 0;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description {
  display: -webkit-box;

  padding-top: 8px;
  width: 30%;

  overflow: auto;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 음식점 추가 모달 *****************************************/
.modal {
  display: none;
}

.modal--open {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: 32px 16px;

  border-radius: 8px 8px 0 0;
  background: var(--grey-100);
}

.modal-title {
  margin-bottom: 36px;
}

.form-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;
}

.form-item label {
  color: var(--grey-400);
  font-size: 14px;
}

.form-item--required label::after {
  padding-left: 4px;

  color: var(--primary-color);
  content: "*";
}

.form-item .help-text {
  color: var(--grey-300);
}

.form-item input,
.form-item textarea,
.form-item select {
  padding: 8px;
  margin: 6px 0;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  font-size: 16px;
}

.form-item textarea {
  resize: none;
}

.form-item select {
  height: 44px;

  padding: 8px;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  color: var(--grey-300);
}

input[name="name"],
input[name="link"] {
  height: 44px;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

#alert-submit {
  margin-left: 68%;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  border: 1px solid var(--grey-300);
  background: transparent;

  color: var(--grey-300);
}

.submit-button {
  display: flex;
  flex-direction: column;
}

.button--primary {
  background: var(--primary-color);

  color: var(--grey-100);
}

.alert {
  display: flex;
  color: red;
  text-align: center;
}

#alert-category {
  position: absolute;

  top: 160px;
  left: 20px;

  z-index: 3;
}

#alert-name {
  position: absolute;

  top: 270px;
  left: 20px;

  z-index: 3;
}

#alert-distance {
  position: absolute;

  top: 380px;
  left: 20px;

  z-index: 3;
}

#alert-link {
  position: absolute;

  top: 700px;
  left: 20px;

  z-index: 3;
}

.hidden {
  display: none;
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgb(0, 0, 0, 0.5);
}

.list-info {
  position: fixed;
  bottom: 0;

  width: 100%;

  padding: 0 16px 32px;

  border-radius: 8px 8px 0 0;
  background-color: #ffffff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;

  padding-right: 18px;
}

.info__title {
  margin-top: 16px;

  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.info__distance {
  margin-top: 16px;

  color: #ec4a0a;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.info__description {
  margin-top: 16px;

  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  word-break: break-all;
}

.info__link {
  margin-top: 16px;

  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-decoration-line: underline;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;

  margin-top: 32px;
}

.delete {
  color: #667085;
  background-color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.close {
  color: #ffffff;
  background-color: #ec4a0a;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.nav-container {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 33px;

  margin-top: 31px;
  padding: 0 16px;
}

.category-label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;

  border-bottom: 2px solid #667085;

  color: #667085;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.selected {
  border-bottom: 2px solid #ec4a0a;

  color: #ec4a0a;
}

.detail-image {
  background-color: black;
}

.modal-header-wrapper {
  display: flex;
  align-items: center;
}
