.restaurant-list-container {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  margin: 16px 0;
}

.restaurant {
  display: flex;
  align-items: flex-start;
  position: relative;

  padding: 16px 8px;

  border-bottom: 1px solid #e9eaed;
}

.restaurant:hover {
  cursor: pointer;
}

.restaurant__category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;

  margin-right: 16px;

  border-radius: 50%;
  background: var(--lighten-color);
}

.category-icon {
  width: 36px;
  height: 36px;
}
