@import '../../assets/css/style-constants.css';

.restaurant__category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background-color: var(--lunch-primary-lighten-color);
  width: 64px;
  height: 64px;

  div {
    background-size: 36px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
  }
}
