.restaurant-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.restaurant__link {
  text-decoration: none;
}

.detail-favorite-button {
  /* position: absolute;
  left: 20px;
  top: 20px; */
  background-color: pink;
  border: 10px solid red;
  width: 100px;
  height: 100px;
}
