/* .favorite-filter {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #ddd;
  gap: 20px;
  flex-grow: 1;
}

.favorite-filter input[type="radio"] {
  display: none;
}

.favorite-filter label {
  width: 100%;
  text-align: center;
  position: relative;
  padding: 10px 0;
  font-size: 16px;
  color: #888;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
} */
