.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 50%;
  overflow-y: scroll;
}

.restaurant-detail__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 16px;

  background-color: aliceblue;
}

.restaurant-detail__favorite-button {
  width: 32px;
  height: 32px;

  border: none;
  background: transparent;

  margin-right: 0;

  cursor: pointer;
}

.restaurant-detail__body {
  display: flex;

  background-color: antiquewhite;
}

.restaurant-detail__name {
  margin-bottom: 16px;
}

.restaurant-detail__distance {
  margin-bottom: 16px;
}

.restaurant-detail__description {
  height: 360px;
  margin-bottom: 16px;
}

.restaurant-detail__link {
  margin-bottom: 16px;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  border: 1px solid var(--grey-300);
  background: transparent;

  color: var(--grey-300);
}

.button--primary {
  background: var(--primary-color);

  color: var(--grey-100);
}
