* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

/* Colors *****************************************/
:root {
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

/* Typography *************************************/
.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

/* GNB ********************************************/
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  padding: 0 16px;

  background-color: var(--primary-color);
}

.gnb__title {
  color: #fcfcfd;
}

.gnb__button {
  height: 40px;

  border: none;
  border-radius: 8px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* 음식점 목록 *****************************************/

/* 카테고리/정렬 필터 */
.restaurant-filter-container {
  display: flex;
  justify-content: space-between;

  padding: 0 16px;
  margin-top: 24px;
}

.restaurant-filter-container select {
  height: 44px;
  min-width: 125px;

  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background: transparent;

  font-size: 16px;
}

.restaurant-filter {
  padding: 8px;
}

/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  margin: 16px 0;
}

/* 음식점 추가 모달 *****************************************/
.modal-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;

  padding: 32px 16px;

  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
}

.modal-title {
  margin-bottom: 36px;
}

.form-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
}

.form-item label {
  color: var(--grey-400);
  font-size: 14px;
}

.form-item--required label::after {
  padding-left: 4px;

  color: var(--primary-color);
  content: '*';
}

.form-item .info-text {
  height: 20px;
  opacity: 0;
}

.form-item .help-text {
  color: var(--grey-300);
  opacity: 1;
}

.form-item .error-text {
  color: var(--primary-color);
  opacity: 1;
}

.form-item input,
.form-item textarea,
.form-item select {
  padding: 8px;
  margin: 6px 0;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  font-size: 16px;
}

.form-item textarea {
  resize: none;
}

.form-item select {
  height: 44px;

  padding: 8px;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  color: var(--grey-300);
}

input[name='name'],
input[name='link'] {
  height: 44px;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  border: 1px solid var(--grey-300);
  background: transparent;

  color: var(--grey-300);
}

.button--primary {
  background: var(--primary-color);

  color: var(--grey-100);
}

.not-visible {
  visibility: hidden;
}

/* 음식점 상세정보 모달 *****************************************/
/* .favorite-icon {
  width: 32px;
  height: 32px;
}

.category-favorite-icon-container {
  display: flex;
  justify-content: space-between;
}

.restaurant__link {
  color: #000000;
} */
