@import "./src/component/layout/header/header.css";
@import "./src/component/food-item/food-item.css";
@import "./src/component/layout/alert/alert.css";
@import "./src/component/layout/modal/modal.css";
@import "./src/component/food-form/food-form.css";
@import "./src/component/button/button/button.css";
@import "./src//component/button/button-container/button-container.css";
@import "./src/component/dropdown/dropdown.css";
@import "./src/component/button/icon-button/iconButton.css";
@import "./src/component/tab-menu/tabMenu.css";
@import "./src/component/input/input.css";
@import "./src/component/food-list/food-list.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

/* Colors *****************************************/
:root {
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
  --alert: #f77f74;
}

/* Typography *************************************/
.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
