* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

:root {
  --darken-color-1: #d44208;
  --darken-color-2: #de4509;
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-150: #ebeef2;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

select {
  cursor: pointer;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  padding: 0 16px;

  background-color: var(--primary-color);
}

.gnb__title {
  color: #fcfcfd;
}

.gnb__button {
  height: 40px;

  border: none;
  border-radius: 8px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.restaurant-navigation {
  display: flex;
}

input[type='radio'],
input[type='radio']:checked {
  appearance: none;
}

input[type='radio']:checked + label {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.tab-name {
  width: 50%;
  padding-top: 32px;
  padding-bottom: 16px;

  background-color: transparent;

  color: var(--grey-300);
  font-weight: bold;
  text-align: center;

  border: none;
  border-bottom: 2px solid var(--grey-200);

  cursor: pointer;
}

.tab-button {
  width: 50%;
  padding-top: 32px;
  padding-bottom: 16px;

  background-color: transparent;

  color: var(--grey-300);
  font-weight: bold;
  text-align: center;

  border: none;
  border-bottom: 2px solid var(--grey-200);

  cursor: pointer;
}

.tab-button--active {
  color: var(--primary-color);

  border-color: var(--primary-color);
}

.restaurant-filter-container {
  display: flex;
  justify-content: space-between;

  padding: 0 16px;
  margin-top: 24px;
}

.restaurant-filter-container select {
  height: 44px;
  min-width: 125px;

  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background: transparent;

  font-size: 16px;
}

.restaurant-filter {
  padding: 8px;
}

.restaurant-list-container {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  margin: 16px 0;
}

.restaurant {
  display: flex;
  align-items: flex-start;

  padding: 16px 8px;

  border-bottom: 1px solid #e9eaed;

  cursor: pointer;
}

.restaurant__category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;

  margin-right: 16px;

  border-radius: 50%;
  background: var(--lighten-color);
}

.category-icon {
  width: 36px;
  height: 36px;
}

.restaurant__info-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.restaurant__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.restaurant-star {
  position: relative;
  right: 0;
}

.restaurant__name {
  margin: 0;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.restaurant-star-icon {
  cursor: pointer;
}

.modal {
  background: transparent;
  border: none;
}

.hide-overflow {
  overflow: hidden;
}

.modal::backdrop {
  cursor: pointer;
}

.modal-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;

  padding: 32px 16px;

  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
}

.modal-title {
  margin-bottom: 36px;
}

.restaurant-detail__info-container {
  display: flex;
  justify-content: space-between;
}

.restaurant-detail__info-container .left-section {
  display: flex;

  align-items: center;
}

.restaurant-detail__description {
  margin-top: 32px;
}

.restaurant__link {
  display: block;
  margin-top: 24px;
  color: var(--darken-color-2);
  cursor: pointer;
}

#restaurant-information .button-container {
  margin-top: 24px;
}

.form-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
}

.form-item label {
  color: var(--grey-400);
  font-size: 14px;
}

.form-item--required label::after {
  padding-left: 4px;

  color: var(--primary-color);
  content: '*';
}

.form-item .info-text {
  height: 20px;
  opacity: 0;
}

.form-item .help-text {
  color: var(--grey-300);
  opacity: 1;
}

.form-item .error-text {
  color: var(--primary-color);
  opacity: 1;
}

.form-item input,
.form-item textarea,
.form-item select {
  padding: 8px;
  margin: 6px 0;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  font-size: 16px;
}

.form-item textarea {
  resize: none;
}

.form-item select {
  height: 44px;

  padding: 8px;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  color: var(--grey-300);
}

.icon-container {
  display: flex;
  justify-content: space-between;
}

input[name='name'],
input[name='link'] {
  height: 44px;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  border: 1px solid var(--grey-300);
  background: transparent;

  color: var(--grey-300);
}

.button--secondary:hover {
  background: var(--grey-150);
}

.button--secondary:active {
  background: #dce1e8;
}

.button--primary {
  background: var(--primary-color);

  color: var(--grey-100);
}

.button--primary:hover {
  background: var(--darken-color-2);
}

.button--primary:active {
  background: var(--darken-color-1);
}
