.tabmenu-container {
  display: flex;
}

.tabmenu-item {
  width: 100%;
  text-align: center;
  color: var(--grey-300);
  padding: 16px;
  border-bottom: 2px solid var(--grey-200);
  transition: 0.3s ease;
  &:hover {
    border-bottom: 2px solid var(--lighten-color);
  }
}

.tabmenu--active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
