.favorite-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: absolute;
  right: 0;
  top: 0;
}

.favorite-button img {
  position: absolute;
}

.favorite-button:hover {
  transition: all 0.5s;
}

.not-show {
  opacity: 0;
  transition: all 0.5s;
}
