.button {
  width: 40vw;
  height: 5vh;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.button--white {
  border: 1px solid var(--grey-300);
  background: transparent;
  color: var(--grey-300);
}

.button--orange {
  background: var(--primary-color);
  color: var(--grey-100);
}
