.lunch-tab {
  width: 100%;
}

.tab-button-all {
  color: var(--primary-color);
}

.tab-button-all--closed {
  color: var(--grey-300);
}

.tab-button-liked {
  color: var(--primary-color);
}

.tab-button-liked--closed {
  color: var(--grey-300);
}
