.restaurant-tab-container {
  display: flex;
  justify-content: space-between;

  padding: 0 16px;
  margin-top: 31px;
}

.tab-button {
  width: 50%;
  height: 35px;

  padding-bottom: 9px;
  border-bottom: 2px solid #d0d5dd; /* lunch-grayscale-2 */
  background: transparent;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #667085; /* lunch-grayscale-3 */
}

.tab-button:hover {
  cursor: pointer;
  color: #ec4a0a; /* lunch-primary */
  border-color: #ec4a0a; /* lunch-primary */
}

.active {
  color: #ec4a0a; /* lunch-primary */
  border-color: #ec4a0a; /* lunch-primary */
}
