<style>
  .restaurant {
    display: flex;
    align-items: flex-start;

    padding: 16px 8px;

    border-bottom: 1px solid #e9eaed;
  }

  .description__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>

<li class="restaurant">
  <div class="restaurant__category">
    <img src="{src}" alt="{category}" class="category-icon" />
  </div>
  <div class="restaurant__info">
    <div class="description__wrapper">
      <div>
        <h3 class="restaurant__name text-subtitle">{name}</h3>
        <span class="restaurant__distance text-body">캠퍼스로부터 {distance}분 내</span>
      </div>
    </div>
    <p class="restaurant__description text-body">{description}</p>
  </div>
</li>
