@import '../../assets/css/style-constants.css';

.restaurant {
  display: flex;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid var(--lunch-grey-scale-2-color);
  padding: 14px 8px 19px 7px;
  width: 100%;
  height: fit-content;
  max-height: 137px;
  line-height: 24px;
}

.restaurant__info {
  margin-left: 16px;
}

.restaurant-list {
  box-sizing: border-box;
  margin-top: 20px;
  height: 600px;
  overflow-y: auto;
}

.restaurant-list #none-restaurant-category {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  width: 100%;
  color: var(--lunch-grey-scale-3-color);
  font-weight: var(--lunch-title-font-weight);
  font-size: var(--label-font-size);
  text-align: center;
}
