.restaurant-detail__form-container {
  display: flex;
}

.restaurant-detail__detail-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.restaurant-detail__category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  border-radius: 50%;
  background: var(--lighten-color);
}

.restaurant-detail__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 16px;
  margin-bottom: 24px;
  gap: 16px;
}

.restaurant-detail__distance {
  color: var(--primary-color);
}
