.menu {
  padding: 0 30px;

  position: fixed;
  width: 100%;
  top: 64px;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 64px;
}

#total_restaurant {
  padding: 16px 0 16px;

  width: 50%;
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
}

#favorite_restaurant {
  padding: 16px 0 16px;

  width: 50%;
  text-align: center;
  border-bottom: 2px solid var(--grey-200);
}
