nav-bar-btn-container .under-bar {
  margin-top: 9px;
  background-color: var(--lunch-grey-scale-2-color);
  width: 100%;
  height: 2px;
}

nav-bar-btn-container.selected button {
  color: var(--lunch-primary-color);
}

nav-bar-btn-container.selected .under-bar {
  background-color: var(--lunch-primary-color);
}
