@import './reset.css';

body {
  font-family: sans-serif;
  font-size: 16px;
}

:root {
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

.restaurant-filter-container {
  display: flex;
  justify-content: space-between;

  padding: 0 16px;
  margin-top: 24px;
}

/* Typography *************************************/
.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  margin: 16px 0;
}
