/* Colors *****************************************/
:root {
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

/* Typography *************************************/
.text-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.text-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.text-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
