@import './style-constants.css';
@import './topbar.css';

body {
  box-sizing: border-box;
  padding-bottom: 16px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  color: var(--lunch-grey-scale-5-color);
  font: var(--default-font-weight) var(--default-font-size)
    var(--default-font-family);
  /* padding-top:16px; */
}

.inner {
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.3);
  width: 390px;
  min-height: 880px;
}

main {
  box-sizing: border-box;
  padding: 0 16px;
  padding-top: 80px;
  width: inherit;
}

.screen-read-only {
  position: absolute;
  top: -99999px;
  left: -9999px;
}

.drop-box-group {
  display: flex;
  justify-content: space-between;
  margin-top: 98px;
}

.restaurant-list-container {
  width: 100%;
}
