.modal-open-button {
  border: none;
  height: 40px;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
}

.modal-open-button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}
