.restaurant-theme-selector-container {
  margin-top: 31px;
  padding: 0 16px;
}

.restaurant-theme-selector-wrapper {
  display: flex;
  justify-content: center;
}

.restaurant-theme-button {
  width: 50%;
  padding-bottom: 9px;
  border: none;
  background: inherit;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid var(--grey-200);
  color: var(--grey-300);
}

.restaurant-theme-active {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}
