.w-full {
  width: 100%;
}

.max-w-390 {
  max-width: 390px;
}

.w-64 {
  width: 64px;
}

.w-40 {
  width: 40px;
}

.h-full {
  height: 100%;
}

.h-140 {
  height: 140px;
}

.h-90 {
  height: 90px;
}

.h-64 {
  height: 64px;
}

.h-48 {
  height: 48px;
}

.h-44 {
  height: 44px;
}

.h-40 {
  height: 40px;
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 999px;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y {
  overflow-y: scroll;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-32 {
  margin-top: 32px;
}

.mt-8 {
  margin-top: 8px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.pl-8 {
  padding-left: 8px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.box-border {
  box-sizing: border-box;
}

.border {
  border: 1px solid var(--slate-50);
}

.border-b {
  border-bottom: 1px solid var(--slate-50);
}

.border-slate-400 {
  border-color: var(--slate-400);
}

.border-none {
  border: none;
}

.resize-none {
  resize: none;
}
