* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gnb__title {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.phone-button {
  position: absolute;
  width: 12px;
  height: 100px;
  background-color: black;
  border-radius: 0 30px 30px 0;
  margin-left: 396px;
  margin-top: 240px;
  cursor: pointer;
}

.star-button svg path {
  fill-opacity: 0.5;
}

.star-button.active svg path {
  fill-opacity: 1;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url("../../public/images/background-image.jpg");
  background-size: cover;
}

.layout {
  position: relative;
  width: 390px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 40px;
  outline: 10px solid rgb(34, 34, 34);
  margin: 20px 0;
  height: calc(100vh - 40px);
  //overflow: hidden;
}

.modal-layout {
  position: relative;
  width: 390px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  margin: 20px 0;
  height: calc(100vh - 40px);
  justify-content: flex-end;
  overflow: hidden;
}

.camera-shape {
  position: absolute;
  width: 30%;
  height: 28px;
  background-color: #000;
  top: 14px;
  left: 142px;
  border-radius: 60px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  overflow: hidden;
}

.restaurant-menu-container {
  padding: 0 16px;
}

.tab-container {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.tab-menu {
  display: flex;
  position: relative;
  height: 40px;
  border-bottom: 2px solid var(--grey-200);
}

.tab-menu-box {
  display: flex;
  flex-direction: rows;
}

.tab-item {
  border: none;
  background-color: transparent;
  flex: 1;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #777;
  transition: color 0.3s ease;
}

.tab-item.active {
  color: #d9534f;
  font-weight: bold;
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 50%;
  background-color: #d9534f;
  transition: left 0.3s ease, width 0.3s ease;
}

.tab-indicator-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: left 0.3s ease, width 0.3s ease;
}

main {
  height: calc(100vh - 64px);
}

main::-webkit-scrollbar {
  width: 6px;
}

main::-webkit-scrollbar-track {
  background-color: transparent;
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
main::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Colors *****************************************/
:root {
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

/* Typography *************************************/
.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-menu {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--grey-300);
}

.text-menu:active {
  color: var(--primary-color);
}

.text-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

/* GNB ********************************************/

.safe-zone-top {
  height: 30px;
  border-radius: 20px 20px 0 0;
  background-color: var(--primary-color);
}

.gnb {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 16px;
  background-color: var(--primary-color);
}

.gnb__title {
  color: #fcfcfd;
}

.gnb__button {
  height: 40px;

  border: none;
  border-radius: 8px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* 음식점 목록 *****************************************/
.empty-info-container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 26%;
}
.empty-info-box {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.empty-icon {
  width: 50%;
}

.empty-message {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: var(--grey-500);
  margin-top: 16px;
}

.restaurant-section-slider {
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

.restaurant-section-container {
  display: flex;
  flex-direction: row;
  width: 780px;
  display: flex;
  height: 100%;
}

/* 카테고리/정렬 필터 */
.restaurant-filter-box {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 80px;
}

.restaurant-filter-container select {
  height: 44px;
  min-width: 125px;

  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background: transparent;

  font-size: 16px;
}

.restaurant-filter {
  padding: 8px;
}

/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  width: 100%;
  height: 100%;
}

.restaurant-list-box {
  height: 100%;
}

.restaurant-list {
  height: 100%;
}

.restaurant {
  display: flex;
  align-items: flex-start;

  padding: 16px 8px;

  border-bottom: 1px solid #e9eaed;
}

.restaurant__category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;

  margin-right: 16px;

  border-radius: 50%;
  background: var(--lighten-color);
}

.category-icon {
  width: 36px;
  height: 36px;
}

.restaurant__title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurant__title {
  display: flex;
  flex-direction: column;
}

.restaurant__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.restaurant__info.full .restaurant__description {
  display: -webkit-box;

  padding-top: 8px;

  overflow: visible; /* 숨김 해제 */
  text-overflow: unset; /* 말줄임 해제 */
  -webkit-line-clamp: unset; /* 줄 제한 해제 */
  -webkit-box-orient: unset; /* 방향 설정 해제 */
  white-space: normal; /* 줄바꿈 허용 */
}

.restaurant__name {
  margin: 0;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 음식점 추가 모달 *****************************************/

#modalBackground {
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

#modalBackground.show {
  opacity: 1;
  visibility: visible;
}

.modal {
  display: none;
}

.modal--open {
  display: block;
}

.modal-container {
  width: 390px;
  max-height: 800px;
  padding: 32px 16px;
  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

#modalBackground.show .modal-container {
  transform: translateY(0);
}

#modalBackground.hide .modal-container {
  transform: translateY(100%);
}

.modal-title {
  margin-bottom: 36px;
}

.modal-container .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-item label {
  color: var(--grey-400);
  font-size: 14px;
}

.form-item--required label::after {
  padding-left: 4px;

  color: var(--primary-color);
  content: "*";
}

.form-item .help-text {
  color: var(--grey-300);
}

.form-item input,
.form-item textarea,
.form-item select {
  padding: 8px;
  margin: 6px 0;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  font-size: 16px;
}

.form-item textarea {
  resize: none;
}

.form-item select {
  height: 44px;

  padding: 8px;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  color: var(--grey-300);
}

input[name="name"],
input[name="link"] {
  height: 44px;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  border: 1px solid var(--grey-300);
  background: transparent;

  color: var(--grey-300);
}

.button--primary {
  background: var(--primary-color);

  color: var(--grey-100);
}
