.gnb {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  gap: 8px;
}

.gnb__top {
  background-color: var(--primary-color);
  padding: 12px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.gnb__title {
  color: #fcfcfd;
  font-weight: bold;
}
.gnb__button {
  height: 40px;

  border: none;
  border-radius: 8px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}
