li {
  display: flex;
  align-items: flex-start;

  padding: 16px 8px;

  border-bottom: 1px solid #e9eaed;
}

r-category-icon {
  margin-right: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name {
  margin: 0;
}

.distance {
  color: var(--primary-color);
}

.description {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
