/* 음식점 상세보기 모달 *****************************************/
.detail-header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#detail-favorite-container img:hover {
    opacity: 0.8;
}

.detail-body-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
