
.restaurant-list-container .dropbox{
  height: 40px;
  width: 125px;
}

.restaurant-form-container .dropbox{
  width: 358px;
  height: 44px;
}

.dropbox select {
  position: relative;
  padding:8px;
  width: inherit;
  height: inherit;
  border-radius: 8px;
  border: 1px solid var(--lunch-grey-scale-2-color);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--lunch-grey-scale-3-color);
  background: url('../svgs/down-arrow.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 12px);
  transition: background-image 0.1s;
  
}

.dropbox select:focus{
  background: url('../svgs/up-arrow.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 12px);
  outline: none;
}
