@import "./style-constants.css";
@import "./topbar.css";
@import './dropbox.css';
@import './modal.css';
@import './restaurant-category-icon.css';
@import './restaurant.css';


body{
  font: var(--default-font-weight) var(--default-font-size) var(--default-font-family);
  color: var(--lunch-grey-scale-5-color);
  width: 100vw;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 16px;
  /* padding-top:16px; */
}

.inner {
  position: relative;
  width: 390px;
  height: 888px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.3); 
  box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.3);
}

main {
  padding:0 16px;
  padding-top: 80px;

}

.screen-read-only{
  position: absolute;
  top:-99999px;
  left: -9999px;
}

.dropbox-group{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.restaurant-list {
  height: 700px;
  overflow-y: scroll;
  margin-top: 20px;
  -ms-overflow-style: none; /* IE와 Edge */
  scrollbar-width: none; /* 파이어폭스 */
}

.restaurant-list::-webkit-scrollbar {
  display: none;
}
