.modal {
  display: none;
  position: relative;
  z-index: 2;
}

.modal--open {
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: inherit;
  height: inherit;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.35);
  width: inherit;
  height: inherit;
}

.modal-container {
  width: 100%;
  height: calc(100% - 84px);
  position: absolute;
  top:84px;
  left: 0;
  padding: 32px 16px;
  border-radius: 8px 8px 0px 0px;
  background: var(--lunch-grey-scale-1-color);
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE와 Edge */
  scrollbar-width: none; /* 파이어폭스 */
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-title {
  margin-bottom: 36px;
  font-size: var(--lunch-title-font-size);
  font-weight: var(--lunch-title-font-weight);
}


.form-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;
}

.form-item label {
  color: var(--lunch-grey-scale-4-color);
  font-size: 14px;
}

.form-item--required label::after {
  padding-left: 4px;

  color: var(--lunch-primary-color);
  content: "*";
}

.form-item .help-text {
  color: var(--lunch-grey-scale-3-color);
}

.form-item input,
.form-item textarea,
.form-item select {
  padding: 8px;
  margin: 6px 0;

  border: 1px solid var( --lunch-grey-scale-2-color);
  border-radius: 8px;

  font-size: 16px;
}

.form-item textarea {
  resize: none;
}

/* .form-item select {
  height: 44px;

  padding: 8px;

  border: 1px solid var(--lunch-grey-scale-3-color);
  border-radius: 8px;

  color: var(--lunch-grey-scale-3-color);
} */

input[name="name"],
input[name="link"] {
  height: 44px;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;
  margin-right: 16px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  border: 1px solid var(--lunch-grey-scale-3-color);
  background: transparent;

  color: var(--lunch-grey-scale-3-color);
}

.button--primary {
  background: var(--lunch-primary-color);

  color: var(--lunch-grey-scale-1-color);
}