dialog::backdrop {
  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: calc(100vh - 65px);
  overflow-y: scroll;

  padding: 32px 16px;

  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
}

.modal-title {
  margin-bottom: 36px;
}
