restaurant-form-inner {
  drop-box,
  custom-input {
    display: block;
    width: 100%;
    height: 44px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: inherit;

    default-btn:first-child {
      margin-right: 16px;
    }
  }
  custom-textarea {
    box-sizing: border-box;
    margin-bottom: 8px;
    width: 100%;
    height: 90px;
  }
}
.restaurant-form-container drop-box {
  width: 358px;
  height: 44px;
}

.restaurant-form-modal-title {
  margin-bottom: 36px;
  font-weight: var(--lunch-title-font-weight);
  font-size: var(--lunch-title-font-size);
  line-height: 24px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.form-item label {
  margin-bottom: 6px;
  color: var(--lunch-grey-scale-4-color);
  font-size: var(--label-font-size);
  line-height: 20px;
}

.form-item--required label::after {
  padding-left: 4px;
  content: '*';
  color: var(--lunch-primary-color);
}

.form-item .help-text {
  margin-top: 6px;
  padding-left: 6px;
  color: var(--lunch-grey-scale-3-color);
  font-size: var(--label-font-size);
  line-height: 20px;
}
