.detail-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.detail-restaurant__image {
  display: flex;
  justify-content: space-between;
}

.restaurant__link {
  color: var(--grey-500);
}
