.modal {
  display: none;
}

.modal--open {
  display: block;
}

.modal-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 80%;
  padding: 32px 16px;
  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
}

.modal-container form {
  height: 85%;
}

.overflow {
  height: 100%;
  overflow: scroll;
}

.overflow::-webkit-scrollbar {
  display: none;
}

.help-caption {
  display: block;
  color: #667085;
  margin-bottom: 24px;
}
