<style>
  .navbar__wrapper {
    display: flex;
    margin-top: 12px;
  }

  .button {
    width: 100%;
    height: 44px;
    border: none;
    background: none;
    color: var(--grey-300);
    border-bottom: 1px solid var(--grey-200);
  }

  .button--selected {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
  }
</style>

<section class="navbar__wrapper">
  <button class="button text-body button--selected" id="전체">모든 음식점</button>
  <button class="button text-body" id="즐겨찾기">자주 가는 음식점</button>
</section>
