/* 음식점 상세정보 모달 *****************************************/
.favorite-icon {
  width: 32px;
  height: 32px;
}

.category-favorite-icon-container {
  display: flex;
  justify-content: space-between;
}

.restaurant__info {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-bottom: 32px;
}

.restaurant__link {
  color: #000000;
}
