input[type='radio'],
input[type='radio']:checked {
  appearance: none;
}

input[type='radio']:checked + label {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.tabs label {
  display: inline-block;
  width: 100%;
  padding: 9px;

  text-align: center;
  color: var(--grey-300);
  border-bottom: 2px solid var(--grey-300);
  cursor: pointer;
}
