.modal {
    display: none;
}

.modal--open {
    display: block;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.35);
}

.modal-add-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75vh;

    padding: 32px 16px;

    border-radius: 8px 8px 0px 0px;
    background: var(--grey-100);
    overflow: scroll;
}

.modal-title {
    margin-bottom: 36px;
}
