.food-detail {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 16px;
}

.food_detail_description {
  display: block;
  padding-top: 8px;
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

.food-detail-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
