@import './colors.css';
@import './gnb.css';
@import './modal.css';
@import './restaurants_list.css';
@import './typography.css';
@import './restaurantItemModal.css';
@import './favoritesFilter.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}
