@import './root.css';
@import '../components/Restaurant/RestaurantItem.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

/* GNB ********************************************/
.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
  height: 64px;

  background-color: var(--primary-color);
}

.gnb__title {
  color: #fcfcfd;
}

.gnb__button {
  border: none;
  height: 40px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* 탭 메뉴 */

.restaurant-tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  padding: 0 16px;
}

/* 음식점 목록 *****************************************/

/* 카테고리/정렬 필터 */
.restaurant-filter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  padding: 0 16px;
}

.restaurant-filter-container select {
  border: 1px solid #d0d5dd;
  min-width: 125px;
  height: 44px;
  background: transparent;

  font-size: 16px;
  border-radius: 8px;
}

.restaurant-filter {
  padding: 8px;
}

/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;
  margin: 16px 0;

  padding: 0 16px;
}

/* 음식점 추가 모달 *****************************************/
.modal {
  display: none;
}

.modal--open {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  padding: 32px 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--grey-100);

  border-radius: 8px 8px 0px 0px;
}

.modal-detail-container {
  position: relative;
}

.modal-detail-container > .restaurant__category {
  margin-bottom: 16px;
}

.modal-detail-container > .restaurant__info > * {
  margin-bottom: 16px;
}

-- .modal-title {
  margin-bottom: 36px;
}

.form-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;
}

.form-item label {
  font-size: 14px;
  color: var(--grey-400);
}

.form-item--required label::after {
  padding-left: 4px;

  color: var(--primary-color);
  content: '*';
}

.form-item .help-text {
  color: var(--grey-300);
}

.form-item input,
.form-item textarea,
.form-item select {
  margin: 6px 0;
  padding: 8px;

  border: 1px solid var(--grey-200);

  font-size: 16px;
  border-radius: 8px;
}

.form-item textarea {
  resize: none;
}

.form-item select {
  padding: 8px;

  border: 1px solid var(--grey-200);
  height: 44px;

  color: var(--grey-300);
  border-radius: 8px;
}

input[name='name'],
input[name='link'] {
  height: 44px;
}

.button-container {
  display: flex;
}

.button {
  margin-right: 16px;

  border: none;
  width: 100%;
  height: 44px;

  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  border: 1px solid var(--grey-300);
  background: transparent;

  color: var(--grey-300);
}

.button--primary {
  background: var(--primary-color);

  color: var(--grey-100);
}

.button--tabmenu {
  margin: 0;
  border-bottom: 2px solid var(--grey-200);
  background: transparent;
  border-radius: 0;
  color: var(--grey-300);
  font-size: 16px;
  font-weight: 700;
}

.button--tabmenu.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
