html {
  height: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  width: var(--app-width);
  height: 100%;
  margin: auto;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

/* GNB ********************************************/
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 64px;

  padding: 0 16px;

  background-color: var(--primary-color);
}

.gnb__title {
  color: #fcfcfd;
}

.gnb__button {
  height: 40px;

  border: none;
  border-radius: 8px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* TAB ********************************************/

.tab {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 64px;
  padding: 0 16px;
  cursor: pointer;
}
.tab div {
  width: 180px;
  text-align: center;
  height: 30px;
  border-bottom: 2px solid var(--grey-200);
  font-weight: 700;
  font-size: 16px;
}

.tab div.tab--selected {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
