/* 음식점 목록 *****************************************/

/* 카테고리/정렬 필터 */
.restaurant-filter-container {
  display: none;
  justify-content: space-between;

  padding: 0 16px;
  margin-top: 24px;
}

.filter--open {
  display: flex;
}

.restaurant-filter-container select {
  height: 44px;
  min-width: 125px;

  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background: transparent;

  font-size: 16px;
}

/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  margin: 16px 0;
}

.restaurant {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 16px 8px;

  border-bottom: 1px solid #e9eaed;
}
.restaurant__category__info {
  display: flex;
  align-items: flex-start;
  width: 100%;

  width: calc(100% - 32px);
}

.restaurant__category__info:hover .category-icon {
  animation-name: jump;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0% {
    transform: translate(0, 0px);
  }
  10% {
    transform: translate(0, -10px);
  }
  20% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.restaurant__category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;

  margin-right: 16px;

  border-radius: 50%;
  background: var(--lighten-color);

  cursor: pointer;
}

.favorite-icon {
  width: 30px;
  cursor: pointer;
}

.favorite-icon:hover {
  animation-name: pulse;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.category-icon {
  width: 36px;
  height: 36px;
}

.restaurant__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 90%;
  cursor: pointer;
}

.restaurant__name {
  margin: 0;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description {
  display: -webkit-box;
  padding-top: 8px;

  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
