.tabbar {
  width: 100%;
  margin-top: 20px;
}

ul.tabbar-selector {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

ul.tabbar-selector li {
  font-weight: 700;
  width: 50%;
  color: var(--grey-300);
  padding: 15px;
  cursor: pointer;
  border-bottom: 2px solid var(--grey-200);
  text-align: center;
}

ul.tabbar-selector li.current {
  font-weight: 700;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
