.modal_container {
  height: 60%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.detail__restaurant__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}

.detail-buttons {
  margin-top: 30px;
}
