.restaurant-tab-container {
  width: 90%;
  margin: 30px;
}

.restaurant-tab {
  display: flex;
  justify-content: center;
}

.restaurant-tab button {
  padding: 0px;
  padding-bottom: 15px;
  letter-spacing: 0.5px;
  width: 40%;
  background-color: var(--grey-100);
  color: var(--grey-300);
  border: none;
  border-bottom: 3px solid var(--grey-200);
}

.tab-button.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.content {
  display: none;
  padding: 10px 20px;
}

.content.active {
  display: block;
}
