* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

/* Colors *****************************************/
:root {
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

/* Typography *************************************/
.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

/* GNB ********************************************/
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  padding: 0 16px;

  background-color: var(--primary-color);
}

.gnb__title {
  color: #fcfcfd;
}

.gnb__button {
  height: 40px;

  border: none;
  border-radius: 8px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* 음식점 목록 *****************************************/

/* 카테고리/정렬 필터 */
.restaurant-filter-container {
  display: flex;
  justify-content: space-between;

  padding: 0 16px;
  margin-top: 24px;
}

.restaurant-filter-container select {
  height: 44px;
  min-width: 125px;

  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background: transparent;

  font-size: 16px;
}

.restaurant-filter {
  padding: 8px;
}

/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  margin: 16px 0;
}

.restaurant {
  display: flex;
  align-items: flex-start;

  padding: 16px 8px;

  border-bottom: 1px solid #e9eaed;
}

.restaurant__category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;

  margin-right: 16px;

  border-radius: 50%;
  background: var(--lighten-color);
}

.category-icon {
  width: 36px;
  height: 36px;
}

.restaurant__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.restaurant__like-button,
.modal__like-button {
  height: 40px;

  border: none;
  border-radius: 8px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}

.restaurant__like-button img,
.modal__like-button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.restaurant__name {
  margin: 0;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description-summary {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.restaurant__description {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant__link {
  display: block;
  color: var(--grey-500);
  margin-top: 16px;
}

/* 음식점 추가 모달 *****************************************/
.modal {
  display: none;
}

.modal--open {
  display: block;
}

.detail-modal {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.35);
}

.modal-container,
.detail-modal-container {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: 32px 16px;

  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
}

.detail-modal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-title {
  margin-bottom: 36px;
}

.modal-top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;
}

.form-item label {
  color: var(--grey-400);
  font-size: 14px;
}

.form-item--required label::after {
  padding-left: 4px;

  color: var(--primary-color);
  content: "*";
}

.form-item .help-text {
  color: var(--grey-300);
}

.form-item input,
.form-item textarea,
.form-item select {
  padding: 8px;
  margin: 6px 0;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  font-size: 16px;
}

.form-item textarea {
  resize: none;
}

.form-item select {
  height: 44px;

  padding: 8px;

  border: 1px solid var(--grey-200);
  border-radius: 8px;

  color: var(--grey-300);
}

input[name="name"],
input[name="link"] {
  height: 44px;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  border: 1px solid var(--grey-300);
  background: transparent;

  color: var(--grey-300);
}

.button--primary {
  background: var(--primary-color);

  color: var(--grey-100);
}

.invalid_message {
  color: var(--primary-color);
}

/* 즐겨찾기 탭 *****************************************/

.tabs {
  margin: 0px 15px;
  padding: 0px;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.tab-item {
  font-weight: bold;
  color: var(--grey-300);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: solid 2px var(--grey-300);
}

.current {
  color: var(--primary-color);
  border-bottom: solid 2px var(--primary-color);
}

/* .line_item {
  height: 10px;
  width: 100%;
  border-bottom: solid 2px var(--grey-300);
} */

/* ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
} */
/* 
ul.tabs li.current {
  background: #ededed;
  color: #222;
}

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current {
  display: inherit;
} */
