* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

/* Colors *****************************************/
:root {
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

/* Typography *************************************/
.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

/* GNB ********************************************/
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  padding: 0 16px;

  background-color: var(--primary-color);
}

.gnb__title {
  color: #fcfcfd;
}

.gnb__button {
  height: 40px;

  border: none;
  border-radius: 8px;
  background: transparent;

  font-size: 24px;
  cursor: pointer;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* 음식점 목록 *****************************************/

/* 카테고리/정렬 필터 */
.restaurant-filter-container {
  display: flex;
  justify-content: space-between;

  padding: 0 16px;
  margin-top: 24px;
}

.restaurant-filter-container select {
  height: 44px;
  min-width: 125px;

  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background: transparent;

  font-size: 16px;
}

.restaurant-filter {
  padding: 8px;
}

/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  margin: 16px 0;
}

.restaurant {
  display: flex;
  align-items: flex-start;

  padding: 16px 8px;

  border-bottom: 1px solid #e9eaed;
}

.restaurant__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.restaurant__info__main {
  display: flex;
  justify-content: space-between;
}

.restaurant__name {
  margin: 0;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  border: 1px solid var(--grey-300);
  background: transparent;

  color: var(--grey-300);
}

.button--primary {
  background: var(--primary-color);

  color: var(--grey-100);
}

.space__between__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal--open p {
  word-wrap: break-word;
  max-height: 220px;

  overflow: auto;
}

.scroll-container--on {
  height: 60vh;
  overflow-y: scroll;
}
