* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-size: 16px;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

/* Colors *****************************************/
:root {
  --primary-color: #ec4a0a;
  --lighten-color: #f6a88a;
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

/* Typography *************************************/
.text-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.text-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.text-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text-caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/* GNB ********************************************/
.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;

  padding: 0 16px;

  background-color: var(--primary-color);
}

.gnb__title {
  color: #fcfcfd;
}

.gnb__button {
  height: 40px;

  font-size: 24px;
  background: transparent;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.gnb__button img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* 음식점 목록 *****************************************/

/* 카테고리/정렬 필터 */
.restaurant-filter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  padding: 0 16px;
}

.restaurant-filter-container select {
  min-width: 125px;
  height: 44px;

  font-size: 16px;
  background: transparent;

  border: 1px solid #d0d5dd;
  border-radius: 8px;
}

.restaurant-filter {
  padding: 8px;
}

/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;
  margin: 16px 0;

  padding: 0 16px;
}

.restaurant {
  display: flex;
  align-items: flex-start;

  padding: 16px 8px;

  border-bottom: 1px solid #e9eaed;
}

.restaurant__info:hover {
  cursor: pointer;
}

.restaurant__category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  min-width: 64px;
  height: 64px;
  min-height: 64px;

  margin-right: 16px;
  background: var(--lighten-color);

  border-radius: 50%;
}

.category-icon {
  width: 36px;
  height: 36px;
}

.restaurant__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.restaurant__name {
  margin: 0;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 음식점 추가 모달 *****************************************/
.modal {
  display: none;
}

.modal--open {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 32px 16px;
  background: var(--grey-100);

  border-radius: 8px 8px 0px 0px;
}

.modal-title {
  margin-bottom: 36px;
}

.form-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;
}

.form-item label {
  color: var(--grey-400);
  font-size: 14px;
}

.form-item--required label::after {
  padding-left: 4px;

  color: var(--primary-color);
  content: '*';
}

.form-item .help-text {
  color: var(--grey-300);
}

.form-item input,
.form-item textarea,
.form-item select {
  margin: 6px 0;
  padding: 8px;

  font-size: 16px;

  border: 1px solid var(--grey-200);
  border-radius: 8px;
}

.form-item textarea {
  resize: none;
}

.form-item select {
  height: 44px;

  padding: 8px;

  color: var(--grey-300);

  border: 1px solid var(--grey-200);
  border-radius: 8px;
}

input[name='name'],
input[name='link'] {
  height: 44px;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  font-weight: 600;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button--secondary {
  color: var(--grey-300);
  background: transparent;
  border: 1px solid var(--grey-300);
}

.button--primary {
  color: var(--grey-100);
  background: var(--primary-color);
}
