@import '../../styles/style-constants.css';

.restaurant-list-container drop-box {
  width: 125px;
  height: 40px;
}

.restaurant-form-container drop-box {
  width: 358px;
  height: 44px;
}

drop-box {
  position: relative;
}

drop-box select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--lunch-grey-scale-2-color);
  border-radius: 8px;
  padding: 8px;
  width: inherit;
  height: inherit;
  color: var(--lunch-grey-scale-3-color);
}

drop-box .arrow-icon {
  position: absolute;
  right: 9px;
  bottom: calc((40px - 8px) / 2);
  z-index: 1;
}

drop-box .arrow-icon:focus {
  transform: rotate(180deg);
  /* transform: rotateX('angle'); */
}
