@import url('../../styles/style.css');

.detail__container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.detail__field {
  margin-bottom: 16px;
}

.detail__title {
  margin-top: 16px;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.restaurant__link {
  color: var(--grey-500);
}

.button-container {
  display: flex;
  width: 100%;
  margin-top: 16px;
}

.button-container button {
  flex: 1;
}