@import url('../../styles/style.css');

.detail__container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;

  padding: 32px 16px;
}

.detail__field {
  margin-bottom: 16px;
}

.detail__field:last-child {
  margin-bottom: 32px;
}

.restaurant__distance {
  color: var(--primary-color);
}

.restaurant__description {
  display: -webkit-box;

  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.restaurant__link {
  color: var(--grey-500);
}
